@font-face {
    font-family: 'Golos';
    src: url('../fonts/GolosText-Regular.woff') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Golos';
    src: url('../fonts/GolosText-Bold.woff') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Golos';
    src: url('../fonts/GolosText-Black.woff') format('woff2');
    font-weight: 900;
}