.icon {
  display: inline-block;
}

.insta {
  width: 18px;
  height: 18px;
  background: url('/img/icons/instagram.svg');
}

.vk {
  width: 20px;
  height: 12px;
  background: url('/img/icons/vk.svg');
}

.telegram {
  width: 16px;
  height: 14px;
  background: url('/img/icons/telegram.svg');
}

.youtube {
  width: 20px;
  height: 14px;
  background: url('/img/icons/youtube.svg');
}