$main-font: 'Golos', Arial, sans-serif;
$title-font: Arial, sans-serif;

$body-bg: #F4F7FF;

$xl-screen: 1200px;
$lg-screen: 1024px;
$md-screen: 768px;
$sm-screen: 640px;

$duration: 0.3s;

// TO DELETE
$container-max-width: 1170px;
$mobile-max-width: 767px;
$tablet-max-width: 1199px;




