{% extends "../layout/default.twig" %}

{% block page %}
<div class="container">
  <h1 class="text-h1">Main page</h1>
  <div>
    <p class="mb-10">Text</p>
    <p class="mb-10">Text</p>
    <p class="mb-10">Text</p>
    <p class="mb-10">Text</p>
  </div>
</div>
{% endblock %}