{% extends "../layout/default.twig" %}

{% block page %}
<div class="container">
  <section class="lg:flex lg:justify-between">

    <div class="text-center lg:text-start max-w-[516px] mx-auto lg:mx-0">
      <h1 class="lg:text-[111px] text-blue-500 font-bold font-golos leading-none text-h1">IT Курсы
        в Москве</h1>
      <div class="text-3xl font-bol font-golos mb-2 mt-2 lg:mb-12">с трудоустройством</div>
      <p class="leading-6 text-sm max-w-xs mx-auto lg:mx-0">Освой востребованную it-профессию всего
        за 5-7 месяцев!
        И найди работу своей мечты.</p>
    </div>

    <div class="relative mx-auto lg:mx-0 title-img">
      <div class="absolute w-full h-full rounded-full bg-[#9CC0FF] top-0 -right-14"></div>

      <div
        class="relative rounded-full overflow-hidden after:w-full after:h-full after:absolute after:top-0 after:bg-blue-400 after:opacity-40">
        <img src="/img/index/hero-bg.jpg" alt="hero" />
      </div>

      <div class="absolute bottom-0 -left-20 w-full h-full">
        <img src="/img/index/hero-image.png" alt="hero-img" />
      </div>
    </div>
  </section>

  <section class="lg:flex justify-between items-center mt-16 lg:mb-28">
    <div
      class="text-center lg:text-start font-golos text-2xl lg:text-[42px] leading-normal font-bold lg:max-w-lg xl:max-w-xl mb-6 lg:mb-0 lg:mr-7 max-w-lg mx-auto lg:mx-0">
      Почему
      EasyUM
      помогает
      изучить новую
      профессию
      и найти ту самую работу</div>

    <div class="md:flex md:flex-wrap max-w-xs md:max-w-none xl:max-w-[475px] mx-auto md:mx-0">
      <div class="md:basis-1/2 flex-grow">
        <div class="relative inline-block">
          <span class="number-span">11</span>
          <span class="number-span-text number-span-text-11">городов для очного обучения</span>
        </div>
      </div>

      <div class="md:basis-1/2 flex-grow">
        <div class="relative inline-block">
          <span class="number-span">24</span>
          <span class="number-span-text number-span-text-24">курса всех направлений</span>
        </div>
      </div>

      <div class="md:basis-1/2 flex-grow">
        <div class="relative inline-block">
          <span class="number-span">09</span>
          <span class="number-span-text number-span-text-09">лет опыта в IT образовании</span>
        </div>
      </div>

      <div class="md:basis-1/2 flex-grow">
        <div class="relative inline-block">
          <div class="number-span">
            <span>75</span><span>%</span>
          </div>
          <span class="number-span-text number-span-text-75">учеников были трудоустроены</span>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-20 lg:mt-36">

    <h2 class="font-golos text-4xl font-bold text-blue-light text-center lg:text-start mb-9 lg:mb-12 lg:text-h2">
      Старт <span class="text-black-2">ближайших
        курсов</span>
    </h2>

    <div class="mb-8 lg:mb-16 lg:flex justify-between items-center">
      <div class="hidden lg:block max-w-3xl">
        <ul class="nav nav-pills mt-4 " id="pills-tab" role="tablist">
          <li class=" h-9 nav-item btn-tabs mr-2 mb-1" role="presentation">
            <button class=" active" id="pills-all-tab" data-toggle="pill" data-target="#pills-all" type="button"
              role="tab" aria-controls="pills-all" aria-selected="true">Все курсы</button>
          </li>
          <li class=" h-9 nav-item btn-tabs mr-2 mb-1" role="presentation">
            <button id="pills-boss-tab" data-toggle="pill" data-target="#pills-boss" type="button" role="tab"
              aria-controls="pills-boss" aria-selected="true">Программирование</button>
          </li>
          <li class=" h-9 nav-item btn-tabs mr-2 mb-1" role="presentation">
            <button id="pills-commercial-tab" data-toggle="pill" data-target="#pills-commercial" type="button"
              role="tab" aria-controls="pills-commercial" aria-selected="true">Дизайн</button>
          </li>
          <li class=" h-9 nav-item btn-tabs mr-2 mb-1" role="presentation">
            <button id="pills-marketing-tab" data-toggle="pill" data-target="#pills-marketing" type="button" role="tab"
              aria-controls="pills-marketing" aria-selected="true">Маркетинг</button>
          </li>
          <li class="h-9 nav-item btn-tabs mr-1 mb-2" role="presentation">
            <button id="pills-cheking-tab" data-toggle="pill" data-target="#pills-cheking" type="button" role="tab"
              aria-controls="pills-cheking" aria-selected="true">Управление</button>
          </li>
          <li class="h-9 nav-item btn-tabs mr-1 mb-2" role="presentation">
            <button id="pills-cheking-tab" data-toggle="pill" data-target="#pills-cheking" type="button" role="tab"
              aria-controls="pills-cheking" aria-selected="true">Бизнес</button>
          </li>
          <li class="h-9 nav-item btn-tabs mr-1 mb-2" role="presentation">
            <button id="pills-cheking-tab" data-toggle="pill" data-target="#pills-cheking" type="button" role="tab"
              aria-controls="pills-cheking" aria-selected="true">Разработка игр</button>
          </li>
          <li class="h-9 nav-item btn-tabs mr-1 mb-2" role="presentation">
            <button id="pills-cheking-tab" data-toggle="pill" data-target="#pills-cheking" type="button" role="tab"
              aria-controls="pills-cheking" aria-selected="true">Мобильная разработка</button>
          </li>
          <li class="h-9 nav-item btn-tabs mr-1 mb-2" role="presentation">
            <button id="pills-cheking-tab" data-toggle="pill" data-target="#pills-cheking" type="button" role="tab"
              aria-controls="pills-cheking" aria-selected="true">Тестирование</button>
          </li>
          <li class="h-9 nav-item btn-tabs mr-1 mb-2" role="presentation">
            <button id="pills-cheking-tab" data-toggle="pill" data-target="#pills-cheking" type="button" role="tab"
              aria-controls="pills-cheking" aria-selected="true">Веб-разработка</button>
          </li>
          <li class="h-9 nav-item btn-tabs mr-1 mb-2" role="presentation">
            <button id="pills-cheking-tab" data-toggle="pill" data-target="#pills-cheking" type="button" role="tab"
              aria-controls="pills-cheking" aria-selected="true">Разработка сайтов</button>
          </li>
          <li class="h-9 nav-item btn-tabs mr-1 mb-2" role="presentation">
            <button id="pills-cheking-tab" data-toggle="pill" data-target="#pills-cheking" type="button" role="tab"
              aria-controls="pills-cheking" aria-selected="true">Backend-разработка</button>
          </li>
        </ul>
      </div>



      <div class="flex justify-center gap-3">
        <div class="dropdown lg:hidden">
          <button class="btn btn-secondary-black dropdown-toggle w-48" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Все курсы
            <i class="black-tick"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <button class="btn btn-secondary-blue dropdown-toggle w-36 lg:w-48" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Популярные
            <i class="blue-tick"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="max-w-[720px] mx-auto lg:max-w-none">
      <div class="row">
        <div class="col-6 col-sm-4 col-lg-4 mb-6">
          <div class="course-card lg:flex p-3">
            <div class="lg:flex lg:flex-col lg:justify-between lg:min-w-[170px] xl:min-w-min">
              <div>
                <div
                  class="inline-block align-top rounded-2xl bg-[#F4F7FF] py-2 px-2 font-medium lg:text-xs text-[7px] text-[#51545E] font-golos mr-1 mb-1">
                  Веб-разработка
                </div>
                <div class="inline-flex align-top rounded-2xl bg-[#FAE5E5] justify-center items-center py-2 px-2">
                  <i class="inside-icon inside-star-icon mr-0.5"></i>
                  <span class="text-[#F52525] font-golos font-bold lg:text-xs text-[7px]">Хит</span>
                </div>
              </div>

              <div class="font-bold text-h5 lg:text-h4 font-golos text-center lg:text-left text-white my-4 pr-3">
                Python
                (Django) -
                Веб-разработчик
              </div>

              <div class="flex justify-between mb-4 lg:mb-0 items-center">
                <span class="font-normal text-[8px] xl:text-h5 font-golos text-[#F1F1F1]">4 месяца</span>
                <span class="font-normal text-[8px] font-golos xl:text-h6 text-[#F1F1F1]">Старт: 13 декабря</span>
              </div>

            </div>

            <div
              class="bg-[#F4F7FF] rounded-full w-36 h-36 -mb-[54px] lg:mb-0 mx-auto lg:min-w-[207px] lg:h-[207px] lg:-mr-[67px]">
              <picture>
                <source media="(min-width: 1024px)" srcset="img/index/cards/big_screen/card_courses1_big.png" />
                <img src="img/index/cards/card_courses1.png" alt="">
              </picture>
            </div>
          </div>
        </div>

        <div class="col-6 col-sm-4 col-lg-4 mb-6">
          <div class="course-card lg:flex p-3">
            <div class="lg:flex lg:flex-col lg:justify-between lg:min-w-[170px] xl:min-w-min">
              <div>
                <div
                  class="inline-block align-top rounded-2xl bg-[#F4F7FF] py-2 px-2 font-medium lg:text-xs text-[7px] text-[#51545E] font-golos mr-1 mb-1">
                  Программирование
                </div>
                <div class="inline-flex align-top rounded-2xl bg-[#CFFCB9] justify-center items-center py-2 px-2">
                  <i class="inside-icon inside-star-icon inside-charge-icon mr-0.5"></i>
                  <span class="text-[#339900] font-golos font-bold lg:text-xs text-[7px]">New</span>
                </div>
              </div>

              <div class="font-bold text-h5 lg:text-h4 font-golos text-center lg:text-left text-white my-4 pr-3">
                Python Аналитика данных

              </div>

              <div class="flex justify-between mb-4 lg:mb-0 items-center">
                <span class="font-normal text-[8px] xl:text-h5 font-golos text-[#F1F1F1]">4 месяца</span>
                <span class="font-normal text-[8px] font-golos xl:text-h6 text-[#F1F1F1]">Старт: 13 декабря</span>
              </div>

            </div>

            <div
              class="bg-[#F4F7FF] rounded-full w-36 h-36 -mb-[54px] lg:mb-0 mx-auto lg:min-w-[203px] lg:h-[207px] lg:-mr-[67px]">
              <picture>
                <source media="(min-width: 1024px)" srcset="img/index/cards/big_screen/card_courses2_big.png" />
                <img src="img/index/cards/card_courses2.png" alt="">
              </picture>
            </div>
          </div>
        </div>

        <div class="col-6 col-sm-4 col-lg-4 mb-6">
          <div class="course-card lg:flex p-3">
            <div class="lg:flex lg:flex-col lg:justify-between lg:min-w-[170px] xl:min-w-min">
              <div>
                <div
                  class="inline-block align-top rounded-2xl bg-[#F4F7FF] py-2 px-2 font-medium lg:text-xs text-[7px] text-[#51545E] font-golos mr-1 mb-1">
                  Веб-разработка
                </div>
              </div>

              <div class="font-bold text-h5 lg:text-h4 font-golos text-center lg:text-left text-white my-4 pr-3">
                Java Junior (Spring) Веб-разработчик

              </div>

              <div class="flex justify-between mb-4 lg:mb-0 items-center">
                <span class="font-normal text-[8px] xl:text-h5 font-golos text-[#F1F1F1]">4 месяца</span>
                <span class="font-normal text-[8px] font-golos xl:text-h6 text-[#F1F1F1]">Старт: 13 декабря</span>
              </div>

            </div>

            <div
              class="bg-[#F4F7FF] rounded-full w-36 h-36 -mb-[54px] lg:mb-0 mx-auto lg:min-w-[207px] lg:h-[207px] lg:-mr-[67px]">
              <picture>
                <source media="(min-width: 1024px)" srcset="img/index/cards/big_screen/card_courses3_big.png" />
                <img src="img/index/cards/card_courses3.png" alt="">
              </picture>
            </div>
          </div>
        </div>

        <div class="col-6 col-sm-4 col-lg-4 mb-6">
          <div class="course-card lg:flex p-3">
            <div class="lg:flex lg:flex-col lg:justify-between lg:min-w-[170px] xl:min-w-min">
              <div>
                <div
                  class="inline-block align-top rounded-2xl bg-[#F4F7FF] py-2 px-2 font-medium lg:text-xs text-[7px] text-[#51545E] font-golos mr-1 mb-1">
                  Мобильная разработка
                </div>
              </div>

              <div class="font-bold text-h5 lg:text-h4 font-golos text-center lg:text-left text-white my-4 pr-3">
                Android - Разработчик (Java&Kotlin)

              </div>

              <div class="flex justify-between mb-4 lg:mb-0 items-center">
                <span class="font-normal text-[8px] xl:text-h5 font-golos text-[#F1F1F1]">4 месяца</span>
                <span class="font-normal text-[8px] font-golos xl:text-h6 text-[#F1F1F1]">Старт: 13 декабря</span>
              </div>

            </div>

            <div
              class="bg-[#F4F7FF] rounded-full w-36 h-36 -mb-[54px] lg:mb-0 mx-auto lg:min-w-[207px] lg:h-[207px] lg:-mr-[67px]">
              <picture>
                <source media="(min-width: 1024px)" srcset="img/index/cards/big_screen/card_courses4_big.png" />
                <img src="img/index/cards/card_courses4.png" alt="">
              </picture>
            </div>
          </div>
        </div>

        <div class="col-6 col-sm-4 col-lg-4 mb-6">
          <div class="course-card lg:flex p-3">
            <div class="lg:flex lg:flex-col lg:justify-between lg:min-w-[170px] xl:min-w-min">
              <div>
                <div
                  class="inline-block align-top rounded-2xl bg-[#F4F7FF] py-2 px-2 font-medium lg:text-xs text-[7px] text-[#51545E] font-golos mr-1 mb-1">
                  Тестирование
                </div>
              </div>

              <div class="font-bold text-h5 lg:text-h4 font-golos text-center lg:text-left text-white my-4 pr-3">
                Тестирование ПО (QA)

              </div>

              <div class="flex justify-between mb-4 lg:mb-0 items-center">
                <span class="font-normal text-[8px] xl:text-h5 font-golos text-[#F1F1F1]">4 месяца</span>
                <span class="font-normal text-[8px] font-golos xl:text-h6 text-[#F1F1F1]">Старт: 13 декабря</span>
              </div>

            </div>

            <div
              class="bg-[#F4F7FF] rounded-full w-36 h-36 -mb-[54px] lg:mb-0 mx-auto lg:min-w-[203px] lg:h-[207px] lg:-mr-[67px]">
              <picture>
                <source media="(min-width: 1024px)" srcset="img/index/cards/big_screen/card_courses5_big.png" />
                <img src="img/index/cards/card_courses5.png" alt="">
              </picture>
            </div>
          </div>
        </div>

        <div class="col-6 col-sm-4 col-lg-4 mb-6">
          <div class="course-card lg:flex p-3">
            <div class="lg:flex lg:flex-col lg:justify-between lg:min-w-[170px] xl:min-w-min">
              <div>
                <div
                  class="inline-block align-top rounded-2xl bg-[#F4F7FF] py-2 px-2 font-medium lg:text-xs text-[7px] text-[#51545E] font-golos mr-1 mb-1">
                  Веб-разработка
                </div>
              </div>

              <div class="font-bold text-h5 lg:text-h4 font-golos text-center lg:text-left text-white my-4 pr-3">
                PHP Junior Программист
              </div>

              <div class="flex justify-between mb-4 lg:mb-0 items-center">
                <span class="font-normal text-[8px] xl:text-h5 font-golos text-[#F1F1F1]">4 месяца</span>
                <span class="font-normal text-[8px] font-golos xl:text-h6 text-[#F1F1F1]">Старт: 13 декабря</span>
              </div>

            </div>

            <div
              class="bg-[#F4F7FF] rounded-full w-36 h-36 -mb-[54px] lg:mb-0 mx-auto lg:min-w-[203px] lg:h-[207px] lg:-mr-[67px]">
              <picture>
                <source media="(min-width: 1024px)" srcset="img/index/cards/big_screen/card_courses6_big.png" />
                <img src="img/index/cards/card_courses6.png" alt="">
              </picture>
            </div>
          </div>
        </div>




      </div>
    </div>

  </section>



  {# <section>
    <h2>
      Что такое <span class="text-blue-light">it-курсы EasyUM?</span>
    </h2>

    <div class="row">
      <div class="col-md-3 col-lg-6">Some text</div>
      <div class="col-md-3 col-lg-6">Some text</div>
      <div class="col-md-3 col-lg-6">Some text</div>
      <div class="col-md-3 col-lg-6">Some text</div>
    </div>
  </section> #}
</div>
{% endblock %}