<!DOCTYPE html>
<html>
  {% include "../layout/head.twig" %}

<body>
  <div class="wrapper">
    {% include "../layout/header.twig" %}

    <main class="content">
      {% block page %}{% endblock %}
    </main>

    {% include "../layout/footer.twig" %}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
  <script src="js/scripts.js" type="module"></script>
</body>

</html>