<footer class="footer">

  <div class="container relative">

    <div class="accordion mt-9 mb-12 md:hidden" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button collapsed flex justify-between items-center" type="button"
            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            <span class="footer-title">Популярные курсы</span>
            <i class="white-tick"></i>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <ul class="footer-nav-list">
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Java разработчик
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Тестирование ПО
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Python разработчик
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  C++ разработчик
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Android Разработчик
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Веб-дизайнер
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Графический дизайнер
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed flex justify-between items-center" type="button"
            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTwo">
            <span class="footer-title">О нас</span>
            <i class="white-tick"></i>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <ul class="footer-nav-list">
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Кто мы?
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  История успеха
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Трудоустройство
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Отзывы
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Вакансии
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Оплата и возврат
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Юридические документы
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Контакты
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed flex justify-between items-center" type="button"
            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree">
            <span class="footer-title">Бонусы</span>
            <i class="white-tick"></i>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <ul class="footer-nav-list">
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Пробные уроки
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Вебинары
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Тесты
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Комьюнити EasyUM
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Коворкинг EasyUM
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Скидки
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Подарочные сертификаты
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Бонусы от партнеров
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
          <button class="accordion-button collapsed flex justify-between items-center" type="button"
            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseFour">
            <span class="footer-title">Компаниям</span>
            <i class="white-tick"></i>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingFour">
          <div class="accordion-body">
            <ul class="footer-nav-list">
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Корпоративное обучение
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Заявка на выпускников
                </a>
              </li>
              <li class="footer-nav-item">
                <a href="#!" class="footer-nav-link">
                  Проекты от студентов
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="logo-box">
      <a class="flex items-center" href="#!">
        <img src="/img/layouts/logo.svg" alt="logo">
        <div class="logo-text logo-text-wrap">
          <span class="logo-text">Offline</span>
          <span class="logo-text">IT академия</span>
        </div>
      </a>
    </div>

    <div class="relative footer-inner ">
      <div class="footer-info">
        <div>
          <div class="block md:hidden relative mb-4">
            <a href="#!">
              <img src="/img/layouts/logo_mob.svg" alt="logo">
            </a>
          </div>

          <ul class="socials">
            <li class="socials-item">
              <a href="#!">
                <i class="icon insta"></i>
              </a>
            </li>
            <li class="socials-item">
              <a href="#!">
                <i class="icon vk"></i>
              </a>
            </li>
            <li class="socials-item">
              <a href="#!">
                <i class="icon youtube"></i>
              </a>
            </li>
            <li class="socials-item">
              <a href="#!">
                <i class="icon telegram"></i>
              </a>
            </li>
          </ul>

          <a href="tel:+7 (495) 477 43 05" class="footer-phone">+7 (495) 477 43 05</a>

          <div class="text-xs mb-4">Контактный центр</div>
        </div>

        <div class="footer-info-right">
          <div class="address">Москва, Шлюзовая
            набережная 6 стр.4,
            3й-этаж, офис 303</div>

          <div class="copyright">
            <div class="md:font-bold copyright-text">2017-2022 Все права защищены</div>
            <div class="copyright-text">Политика конфиденциальности</div>
            <div class="copyright-text">Публичный договор (оферта)</div>
          </div>
        </div>
      </div>

      <nav class="footer-nav hidden md:flex">
        <div class="footer-nav-section">
          <h3 class="footer-title">Популярные курсы</h3>

          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Java разработчик
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Тестирование ПО
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Python разработчик
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                C++ разработчик
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Android Разработчик
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Веб-дизайнер
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Графический дизайнер
              </a>
            </li>
          </ul>
        </div>

        <div class="footer-nav-section">
          <h3 class="footer-title">О нас</h3>

          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Кто мы?
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                История успеха
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Трудоустройство
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Отзывы
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Вакансии
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Оплата и возврат
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Юридические документы
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Контакты
              </a>
            </li>
          </ul>
        </div>

        <div class="footer-nav-section">
          <h3 class="footer-title">Бонусы</h3>

          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Пробные уроки
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Вебинары
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Тесты
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Комьюнити EasyUM
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Коворкинг EasyUM
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Скидки
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Подарочные сертификаты
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Бонусы от партнеров
              </a>
            </li>
          </ul>
        </div>

        <div class="footer-nav-section">
          <h3 class="footer-title">Компаниям</h3>

          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Корпоративное обучение
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Заявка на выпускников
              </a>
            </li>
            <li class="footer-nav-item">
              <a href="#!" class="footer-nav-link">
                Проекты от студентов
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>


  </div>
</footer>